@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<section class="login-sec d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="login-cart forgot-password z9 position-relative">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="login-hading text-center">
                Forgot Password
            </div>
            <p>Enter the email address with your account and we'll send an email with confirmation to reset your password.</p>
            <div class="form-group mb-3">
                <label class="mb-1 lable-text" asp-for="Email" asp-postfix=":" class="text-info"></label>
                <input class="input-text" type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            @if (Model.DisplayCaptcha)
            {
                <nop-captcha />
            }
            <div class="forgotandlogin-cmn">
                <button id="reset-password-btn" class="loginbtn w-100 mb-5 mt-4" type="button" name="send-email">Reset Password</button>
            </div>
        </div>
    </div>
</section>
<script asp-location="Footer">

    $('#reset-password-btn').on('click', function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Get the email value from the input field
        var email = $('.input-text').val();

        // Check if the email value is not empty
        if (!email) {
            $.alert({
                title: 'Error',
                content: 'Please enter your email address.',
                animation: 'scale',
                theme: 'modern',
                type: 'red',
                closeAnimation: 'bottom',
                backgroundDismiss: false,
                buttons: {
                    okay: {
                        text: 'okay',
                        btnClass: 'btn-red',
                        action: function () {
                        }
                    }
                }
            });
            return;
        }

        var postData = {
            email: email,
            captchaValid: true
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            url: '@Url.Action("PasswordRecoverySend", "Customer")',
            type: 'POST',
            data: postData,
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    $.alert({
                        title: 'Success',
                        content: response.message,
                        animation: 'scale',
                        theme: 'modern',
                        type: 'blue',
                        closeAnimation: 'bottom',
                        backgroundDismiss: false,
                        buttons: {
                            okay: {
                                text: 'okay',
                                btnClass: 'btn-blue',
                                action: function () {
                                    $('#@Html.IdFor(model => model.Email)').val('');
                                }
                            }
                        }
                    });
                } else {
                    $.alert({
                        title: 'Error',
                        content: response.message,
                        animation: 'scale',
                        theme: 'modern',
                        type: 'red',
                        closeAnimation: 'bottom',
                        backgroundDismiss: false,
                        buttons: {
                            okay: {
                                text: 'okay',
                                btnClass: 'btn-red',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX error:', status, error);
            }
        });
    });

</script>
