@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<section class="login-sec d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="login-cart forgot-password z9 position-relative">
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="login-hading text-center">
                    Forgot Password
                </div>
                <p>Enter the email address with your account and we'll send an email with confirmation to reset your password.</p>
                <div class="form-group mb-3">
                    <label class="mb-1 lable-text" asp-for="Email" asp-postfix=":" class="text-info"></label>
                    <input class="input-text" type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
                <div class="forgotandlogin-cmn">
                    <button class="loginbtn w-100 mb-5 mt-4" type="submit" name="send-email">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
<button class="btn btn-info btn-block example-the-4">Bootstrap</button>
<button class="email-instructions btn btn-primary">example alert</button>
<script asp-location="Footer">

    $('.email-instructions').on('click', function () {
        $.alert({
            animation: 'scale',
            theme: 'modern',
            type: 'blue',
            closeAnimation: 'bottom',
            backgroundDismiss: false,
            title: 'Email Istructions!',
            content: 'Email with istructions has been sent to you.',
            buttons: {
                okay: {
                    text: 'yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        // do nothing
                    }
                },
                cancel: {
                    text: 'cancel',
                    btnClass: 'btn-blue cancel',
                    action: function () {
                        // do nothing
                    }
                }
            }
        });
    });

    $('.example-the-4').on('click', function () {
        $.alert({
            title: 'Background dismiss',
            content: 'Click outside the modal to close it.' +
                '<br>this modal has the `bottom` close animation',
            animation: 'scale',
            theme: 'modern',
            type: 'blue',
            closeAnimation: 'bottom',
            backgroundDismiss: false,
            buttons: {
                okay: {
                    text: 'okay',
                    btnClass: 'btn-blue',
                    action: function () {
                        // do nothing
                    }
                }
            }
        });
    });

</script>
