@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<section class="login-sec d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="login-cart forgot-password z9 position-relative">
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="login-hading text-center">
                    Forgot Password
                </div>
                <p>Enter the email address with your account and we'll send an email with confirmation to reset your password.</p>
                <div class="form-group mb-3">
                    <label class="mb-1 lable-text" asp-for="Email" asp-postfix=":" class="text-info"></label>
                    <input class="input-text" type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
                <div class="forgotandlogin-cmn">
                    <button class="loginbtn w-100 mb-5 mt-4" type="submit" name="send-email">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>