@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Topics

@inject IWorkContext workContext

<footer class="bg-white">
    <div class="footer-upper py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="footer-block text-center">
                        <img src="~/themes/DisTwisters/content/img/Logo-dis.png" alt="Company Logo" class="img-fluid w-75">
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="footer-block">
                        <div class="title fs-5 fw-bold">
                            Information
                        </div>
                        <ul class="list-unstyled mt-3">
                            <li><a href="#" class="text-decoration-none">Sitemap</a></li>
                            <li><a href="#" class="text-decoration-none">Topic 1</a></li>
                            <li><a href="#" class="text-decoration-none">Topic 2</a></li>
                            <li><a href="#" class="text-decoration-none">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="footer-block">
                        <div class="title fs-5 fw-bold">
                            Customer Service
                        </div>
                        <ul class="list-unstyled mt-3">
                            <li><a href="#" class="text-decoration-none">Search</a></li>
                            <li><a href="#" class="text-decoration-none">News</a></li>
                            <li><a href="#" class="text-decoration-none">Blog</a></li>
                            <li><a href="#" class="text-decoration-none">Forum</a></li>
                            <li><a href="#" class="text-decoration-none">Recently Viewed Products</a></li>
                            <li><a href="#" class="text-decoration-none">Compare Products</a></li>
                            <li><a href="#" class="text-decoration-none">New Products</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="footer-block">
                        <div class="title fs-5 fw-bold">
                            My Account
                        </div>
                        <ul class="list-unstyled mt-3">
                            <li><a href="#" class="text-decoration-none">My Account</a></li>
                            <li><a href="#" class="text-decoration-none">Customer Orders</a></li>
                            <li><a href="#" class="text-decoration-none">Customer Addresses</a></li>
                            <li><a href="#" class="text-decoration-none">Shopping Cart</a></li>
                            <li><a href="#" class="text-decoration-none">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower py-3 bg-dark">
        <div class="container text-center">
            <div class="d-flex justify-content-center">
                <div class="footer-info">
                    <span class="footer-disclaimer text-light">&copy; 2024 Dis Twisters</span>
                </div>
            </div>
        </div>
    </div>
</footer>