@model AdminHeaderLinksModel

@using Nop.Core;
@using Nop.Services.Vendors;

@inject IWorkContext workContext;
@inject IVendorService vendorService;

@{
    var customer = await workContext.GetCurrentCustomerAsync();
    var vendor = await vendorService.GetVendorByIdAsync(customer.VendorId);
}

@if (Model.DisplayAdminLink || vendor != null)
{
    <li>
        <a class="dropdown-item fs16 fw500 p-border-color position-relative"
           href="@Url.Content("~/Admin")">
            @(vendor != null ? T("Admin.Dashboard") : T("Account.Administration"))
        </a>
    </li>
}